<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>帖子</title>
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all">
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../../../layui/layui.js"></script>
</head>
<script type="text/javascript">
    $(function () {
        alert("进页面")
    })
    goback=function () {
        window.location.href="../html/pml/invitation/queryinvitation.html";
    }
    refresh=function () {
        window.location.href="";
    }

    function reply(id){//回复
        document.getElementById('oDiv'+id).style.display='block';//显示文本框和发送按钮
        document.getElementById('eDiv'+id).style.display='none'//隐藏展示回复按钮
    }

   /* //返回
    function goback(){
        window.close();
    }

    function refresh(){//刷新
        location.reload();
    }*/
</script>
<body>
<div>
        <div width="20%" align="right">
        <button type="button" class="layui-btn layui-btn-primary" onclick="goback()"><i class="layui-icon layui-icon-return">返回</i></button>
        <button type="button" class="layui-btn layui-btn-primary" onclick="refresh()"><i class="layui-icon layui-icon-refresh">刷新</i></button>
        </div>
    <div style="width: 60%;margin: 0 auto">
        <br/><br/>
        <div>
            <div style="float: left;padding-left:10px;"><h1><span th:text="${invitationBos.invitation.theme}"/></h1></div>
            <div style="float: right;">
                <div class="layui-form-item layui-inline">
                    <button class="layui-btn layui-btn-radius layui-btn-primary" onclick="goback()">
                        <i class="layui-icon layui-icon-left"></i>返回
                    </button>
                    <button class="layui-btn layui-btn-radius layui-btn-primary" onclick="refresh()">
                        <i class="layui-icon layui-icon-refresh-1"></i>刷新
                    </button>
                </div>
            </div>
            <hr/>
        </div>
        <div>
            <div style="font-size:18px;padding-left:10px;">
                <div style="margin-top:10px;">
                    主题:<span th:text="${invitationBos.invitation.theme}"/>
                </div>
                <div style="margin-top:10px;margin-bottom:10px;">
                    点击(<span th:text="${invitationBos.invitation.clickcount}"/>)
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    回复(<span th:text="${invitationBos.replies}"/>)
                </div>
            </div>
            <div>
                <div style="margin-top:10px;margin-bottom:10px;"><!-- 楼主1楼 -->
                    <div style="float: left;width: 16%;text-align:center;" th:each="user:${invitationBos.userList}"><!-- 左边图片 -->
                        <img th:if=" ${invitationBos.invitation.userid} eq ${user.userid}" th:src="${user.image}">
                    </div>

                    <div style="float: right;width: 83%;border:solid 1px #dfdfdf"><!-- 右边内容 -->
                        <div style="padding:10px 10px 10px 10px;background-color: #f5f5f5;font-size: 18px;">
                            &nbsp;&nbsp;
                            <div class="layui-inline" th:each="user:${invitationBos.userList}">
                                <span th:if=" ${invitationBos.invitation.userid} eq ${user.userid}">[[${user.username}]]</span>
                            </div>
                            发布与:
                            <span th:text="${invitationBos.invitation.releasetime}"/>
                        </div>
                        <div style="padding:30px 30px 30px 50px;">
                            <div>
                                <span th:text="${invitationBos.invitation.releasematter}"/>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div><!-- 去浮动div -->
                </div>

                <div th:each="user:${invitationBos.userList}" style="margin-top:10px;margin-bottom:10px;"><!-- 其他楼层(主贴评论) -->
                    <div style="float: left;width: 16%;text-align:center;"><!-- 左边图片 -->
                        <img th:if=" ${invitationBos.invitation.userid} eq ${user.userid}" th:src="${user.image}">
                    </div>
                    <div style="float: right;width: 83%;border:solid 1px #dfdfdf"><!-- 右边内容 -->
                        <div style="padding:10px 10px 10px 10px;background-color: #f5f5f5;font-size: 18px;">
                            &nbsp;&nbsp;
                            <div class="layui-inline" th:each="user:${invitationBos.userList}">
                                <span th:if=" ${invitationBos.invitation.userid} eq ${user.userid}">[[${user.username}]]</span>
                            </div>
                            发布与:
                            <span th:text="${invitationBos.invitation.releasetime}"/>
                        </div>

                        <div style="padding:30px 30px 10px 50px;">
                            <div>
                                <span th:text="${invitationBos.invitation.releasematter}"/>
                            </div>
                            <div style="margin-top:10px;">
                                <div style="float: left;width: 50%"></div>
                                    <form class="layui-form" action="/crm/forum-reply/saveForumReply.do">
                                        <div class="layui-form-item layui-inline">
                                            <input type="text" th:name="replycontent" placeholder="回复内容" autocomplete="off" class="layui-input" style="width: 300px;border-radius:15px;">
                                        </div>
                                        <input type="hidden" th:name="invitationid" th:value="${invitationBos.invitation.invitationid}">
                                        <div class="layui-form-item layui-inline">
                                            <button class="layui-btn layui-btn-radius layui-btn-primary">
                                                <i class="layui-icon layui-icon-release"></i>发送
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div><!-- 去浮动div -->
                </div>
            </div>
        </div>
        <div style="text-align:center;">
            <hr/>
            <form class="layui-form" action="/reply/addRrply.do">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">发表回复</label>
                    <div class="layui-input-block">
                        <textarea name="desc" lay-verify="required" placeholder="请输入内容" th:name="principalPart" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <input type="hidden" th:name="invitationid" th:value="${invitationBos.invitation.invitationid}">
                    <button style="width: 85px;height: 35px;" class="layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="*">发表</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    layui.use('form', function () {
        var form = layui.form;
    });

</script>
</body>
</html>