<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启日志-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
      <!--  &lt;!&ndash;开启二级缓存&ndash;&gt;
        <setting name="cacheEnabled" value="true"></setting>-->
    </settings>
    <!--批量定义别名-->
    <typeAliases>
        <package name="com.hy.crm.pojo"></package>
    </typeAliases>
</configuration>