<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增售后服务</title>
    <link rel="stylesheet" href="../../../layui/css/layui.css">
    <script src="../../../js/jquery-3.4.1.js"></script>
    <script src="../../../layui/layui.js"></script>
</head>
<script type="text/javascript">
    goback=function () {
        window.close();
    }
    refresh=function () {
        window.location.href="";
    }
</script>
<body>
<form class="layui-form" action="" method="post">
    <center>
        <table width="80%">
            <tr>
                <td width="20%"><font size="5">售后服务详情</font></td>
                <td width="20%"></td>
                <td width="20%"></td>
                <td width="20%" align="right">
                    <button type="button" class="layui-btn layui-btn-primary" onclick="goback()"><i class="layui-icon layui-icon-return">返回</i></button>
                    <button type="button" class="layui-btn layui-btn-primary" onclick="refresh()"><i class="layui-icon layui-icon-refresh">刷新</i></button>
                </td>
            </tr>
            <tr>
                <td height="20px"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr bgcolor="#fafad2">
                <td height="50px"><h2>基本信息</h2></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td height="5px"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>主题</td>
                <td>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="text" name="theme" required="" lay-verify="required" th:value="${afterSale.theme}" autocomplete="off" class="layui-input" readonly style="width: 280px">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="layui-form-item" style="margin-left: 40px;">
                        步  骤:<input type="text" style="border: 0px" th:value="${afterSale.realstatus}" name="step" readonly width="240px;"><br/>
                        责任人:<input type="text" style="border: 0px"  id="username" name="username" th:value="${afterSale.username}" readonly><br/>
                        <input type="hidden" style="border: 0px"  id="userid" name="userid">
                        参与人:<input type="text" style="border: 0px"  value="" name="participant" th:value="${afterSale.participant}" readonly>
                    </div>
                </td>
            </tr>
            <tr bgcolor="#fafad2">
                <td height="50px"><h2>售后服务信息</h2></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td height="5px"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>客户名称</td>
                <td>
                    <input type="hidden" id="serviceid"  th:value="${afterSale.saleid}">
                    <div class="layui-form-item">
                        <div class="layui-input-block" >
                            <select name="customerid" id="customerid"   lay-filter="customername" lay-verify="required"  readonly="readonly">
                                <option th:value="${afterSale.customerid}" selected>[[${afterSale.customername}]]</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td align="center">合同编号</td>
                <td align="right">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <select id="contractid" name="contractid" lay-verify="required" lay-filter="contractid" readonly="readonly">
                                <option th:value="${afterSale.contractid}" selected>[[${afterSale.contractname}]]</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>合同主要信息</td>
                <td colspan="3">
                    <div align="center" class="layui-form-item">
                        <div class="layui-input-block">
                            <textarea name="info" id="info" class="layui-input" readonly th:text="${info}"  autocomplete="off" lay-verify="">                            </textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>对方联系人</td>
                <td>
                    <div class="layui-form-item" align="center">
                        <div class="layui-input-block">
                            <input type="text" name="contactperson" id="contactperson" required lay-verify="" readonly th:value="${afterSale.contactperson}"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
                <td align="center">固定电话</td>
                <td align="right">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="text" name="officephone" id="officephone"  required lay-verify="" readonly th:value="${afterSale.officephone}"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>移动电话</td>
                <td>
                    <div class="layui-form-item" align="center">
                        <div class="layui-input-block">
                            <input type="text" name="telephone" id="telephone" required lay-verify=""  readonly th:value="${afterSale.telephone}"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
                <td align="center">邮件/QQ</td>
                <td align="right">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="text" name="email" id="email" required lay-verify="" th:value="${afterSale.email}"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>服务类型</td>
                <td>
                    <div class="layui-form-item">
                        <div class="layui-input-block" >
                            <select name="typeservices" lay-verify="required" readonly="readonly">
                                <option th:value="${afterSale.typeservices}">[[${afterSale.typeservices}]]</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td align="center">服务方式</td>
                <td align="right">
                    <div class="layui-form-item">
                        <div class="layui-input-block" >
                            <select id="servicemode" name="servicemode" lay-verify="required" readonly="readonly">
                                <option th:value="${afterSale.servicemode}">[[${afterSale.servicemode}]]</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>开始时间</td>
                <td>
                    <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="date" class="layui-input" id="begintime" name="begintime" readonly lay-key="1" th:value="${afterSale.begintime}">
                            </div>
                        </div>
                    </div>
                </div>
                </td>
                <td align="center">结束时间</td>
                <td align="right">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="date" class="layui-input" id="overtime" name="overtime" readonly lay-key="1" th:value="${afterSale.overtime}">
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>服务内容</td>
                <td colspan="3">
                    <div align="center" class="layui-form-item">
                        <div class="layui-input-block">
                            <textarea name="servicescontent" class="layui-input" required="" readonly autocomplete="off" th:text="${afterSale.servicescontent}">                            </textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>客户反馈</td>
                <td colspan="3">
                    <div align="center" class="layui-form-item">
                        <div class="layui-input-block">
                            <textarea name="customerfeedback" class="layui-input" required="" readonly autocomplete="off" th:text="${afterSale.customerfeedback}">                            </textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>服务人员</td>
                <td>
                    <div class="layui-form-item" align="center">
                        <div class="layui-input-block">
                            <input type="text" name="servicespeople"  required readonly th:value="${afterSale.servicespeople}"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
                <td align="center">服务评分</td>
                <td align="right">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="radio" value="5" readonly name="servicesscore" th:checked="${afterSale.servicesscore=='5' ? true :false}" title="5分">
                            <input type="radio" value="4" readonly name="servicesscore" th:checked="${afterSale.servicesscore=='4' ? true :false}" title="4分">
                            <input type="radio" value="3" readonly name="servicesscore" th:checked="${afterSale.servicesscore=='3' ? true :false}" title="3分">
                            <input type="radio" value="2" readonly name="servicesscore" th:checked="${afterSale.servicesscore=='2' ? true :false}" title="2分">
                            <input type="radio" value="1" readonly name="servicesscore" th:checked="${afterSale.servicesscore=='1' ? true :false}" title="1分">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>附件</td>
                <td>
                    <div class="layui-upload">
                        <div class="layui-upload-list">
                            <label class="layui-form-label">附件</label>
                            <img class="layui-upload-img" id="idcard" style="width: 100px;height: 100px;" th:src="${afterSale.attachment}">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20px"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr bgcolor="#fafad2">
                <td height="50px"><h2>处理流程日志</h2></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br><br>
        <div class="site-text">
            <div style="width:1250px;">
                <div style="float: left">
                        <div class="layui-input-block" style="border:1px solid ;color: #e2e2e2;height:480px;width:400px;">
                            <div>
                                <font size="3" color="black">【处理流程】</font><br/>
                                ----------------------------------------------------------------------
                            </div>
                            <a href="#"><font style="color: blue">&nbsp;&nbsp;&nbsp;&nbsp;哈哈哈哈哈</font></a>
                        </div>
                </div>
                <div style="float: left">
                        <div class="layui-form-item layui-form-text" style="margin-left: 160px;">
                            <div class="layui-input-block" style="border:1px solid ;color: #e2e2e2;height:220px;width: 400px;">
                                <div>
                                    <font size="3" color="black">【父事务】</font><br/>
                                    ----------------------------------------------------------------------
                                </div>
                                <a href="#"><font style="color: blue">&nbsp;&nbsp;&nbsp;&nbsp;哈哈哈哈哈</font></a>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text" style="margin-left: 160px; margin-top: 20px;">
                            <div class="layui-input-block" style="border:1px solid ;color: #e2e2e2;height:220px;width: 400px;">
                                <div>
                                    <font size="3" color="black">【子事务】</font><br/>
                                    ----------------------------------------------------------------------
                                </div>
                                <a href="#"><font style="color: blue">&nbsp;&nbsp;&nbsp;&nbsp;哈哈哈哈哈</font></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="width: 80%;margin-left: 20px;">
            <div class="layui-input-block" th:if="${afterSale.realstatus=='处理中'}==true">
                <p>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" lay-submit lay-filter="serviceOver" >本次服务完成</button>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" onclick="goback()">取消</button>
                </p>
            </div>
        </div>
    </center>

</form>
<script>
    layui.use(['form', 'layer', 'upload', 'laydate'], function () {
        var form = layui.form;

        form.on('submit(serviceOver)', function(data){
            var s=$("#serviceid").val();
            $.ajax({
                type: 'post',
                url: '/aftersale/updateStatusById.do?serviceid='+s, // ajax请求路径
                success: function(res){
                    if(res=='yes'){
                        layer.msg('处理成功');
                        location.href="aftersale.html"
                    }else if(data=='no'){
                        layer.msg('处理失败');
                    }
                }
            });
            return false;//禁止跳转，否则会提交两次，且页面会刷新
        });


    });
</script>
</body>
</html>